.light,
.dark {
  --md-sys-color-primary-hover: rgb(var(--md-sys-color-primary) / 8%);
  --md-sys-color-primary-active: rgb(var(--md-sys-color-primary) / 10%);
  --md-sys-color-primary-drag: rgb(var(--md-sys-color-primary) / 16%);
  --md-sys-color-primary-container-hover: rgb(var(--md-sys-color-primary-container) / 8%);
  --md-sys-color-primary-container-active: rgb(var(--md-sys-color-primary-container) / 10%);
  --md-sys-color-primary-container-drag: rgb(var(--md-sys-color-primary-container) / 16%);
  --md-sys-color-on-primary-hover: rgb(var(--md-sys-color-on-primary) / 8%);
  --md-sys-color-on-primary-active: rgb(var(--md-sys-color-on-primary) / 10%);
  --md-sys-color-on-primary-drag: rgb(var(--md-sys-color-on-primary) / 16%);
  --md-sys-color-on-primary-container-hover: rgb(var(--md-sys-color-on-primary-container) / 8%);
  --md-sys-color-on-primary-container-active: rgb(var(--md-sys-color-on-primary-container) / 10%);
  --md-sys-color-on-primary-container-drag: rgb(var(--md-sys-color-on-primary-container) / 16%);
  --md-sys-color-secondary-hover: rgb(var(--md-sys-color-secondary) / 8%);
  --md-sys-color-secondary-active: rgb(var(--md-sys-color-secondary) / 10%);
  --md-sys-color-secondary-drag: rgb(var(--md-sys-color-secondary) / 16%);
  --md-sys-color-secondary-container-hover: rgb(var(--md-sys-color-secondary-container) / 8%);
  --md-sys-color-secondary-container-active: rgb(var(--md-sys-color-secondary-container) / 10%);
  --md-sys-color-secondary-container-drag: rgb(var(--md-sys-color-secondary-container) / 16%);
  --md-sys-color-on-secondary-hover: rgb(var(--md-sys-color-on-secondary) / 8%);
  --md-sys-color-on-secondary-active: rgb(var(--md-sys-color-on-secondary) / 10%);
  --md-sys-color-on-secondary-drag: rgb(var(--md-sys-color-on-secondary) / 16%);
  --md-sys-color-on-secondary-container-hover: rgb(var(--md-sys-color-on-secondary-container) / 8%);
  --md-sys-color-on-secondary-container-active: rgb(var(--md-sys-color-on-secondary-container) / 10%);
  --md-sys-color-on-secondary-container-drag: rgb(var(--md-sys-color-on-secondary-container) / 16%);
  --md-sys-color-tertiary-hover: rgb(var(--md-sys-color-tertiary) / 8%);
  --md-sys-color-tertiary-active: rgb(var(--md-sys-color-tertiary) / 10%);
  --md-sys-color-tertiary-drag: rgb(var(--md-sys-color-tertiary) / 16%);
  --md-sys-color-tertiary-container-hover: rgb(var(--md-sys-color-tertiary-container) / 8%);
  --md-sys-color-tertiary-container-active: rgb(var(--md-sys-color-tertiary-container) / 10%);
  --md-sys-color-tertiary-container-drag: rgb(var(--md-sys-color-tertiary-container) / 16%);
  --md-sys-color-on-tertiary-hover: rgb(var(--md-sys-color-on-tertiary) / 8%);
  --md-sys-color-on-tertiary-active: rgb(var(--md-sys-color-on-tertiary) / 10%);
  --md-sys-color-on-tertiary-drag: rgb(var(--md-sys-color-on-tertiary) / 16%);
  --md-sys-color-on-tertiary-container-hover: rgb(var(--md-sys-color-on-tertiary-container) / 8%);
  --md-sys-color-on-tertiary-container-active: rgb(var(--md-sys-color-on-tertiary-container) / 10%);
  --md-sys-color-on-tertiary-container-drag: rgb(var(--md-sys-color-on-tertiary-container) / 16%);
  --md-sys-color-warning-hover: rgb(var(--md-sys-color-warning) / 8%);
  --md-sys-color-warning-active: rgb(var(--md-sys-color-warning) / 10%);
  --md-sys-color-warning-drag: rgb(var(--md-sys-color-warning) / 16%);
  --md-sys-color-warning-container-hover: rgb(var(--md-sys-color-warning-container) / 8%);
  --md-sys-color-warning-container-active: rgb(var(--md-sys-color-warning-container) / 10%);
  --md-sys-color-warning-container-drag: rgb(var(--md-sys-color-warning-container) / 16%);
  --md-sys-color-on-warning-hover: rgb(var(--md-sys-color-on-warning) / 8%);
  --md-sys-color-on-warning-active: rgb(var(--md-sys-color-on-warning) / 10%);
  --md-sys-color-on-warning-drag: rgb(var(--md-sys-color-on-warning) / 16%);
  --md-sys-color-on-warning-container-hover: rgb(var(--md-sys-color-on-warning-container) / 8%);
  --md-sys-color-on-warning-container-active: rgb(var(--md-sys-color-on-warning-container) / 10%);
  --md-sys-color-on-warning-container-drag: rgb(var(--md-sys-color-on-warning-container) / 16%);
  --md-sys-color-info-hover: rgb(var(--md-sys-color-info) / 8%);
  --md-sys-color-info-active: rgb(var(--md-sys-color-info) / 10%);
  --md-sys-color-info-drag: rgb(var(--md-sys-color-info) / 16%);
  --md-sys-color-info-container-hover: rgb(var(--md-sys-color-info-container) / 8%);
  --md-sys-color-info-container-active: rgb(var(--md-sys-color-info-container) / 10%);
  --md-sys-color-info-container-drag: rgb(var(--md-sys-color-info-container) / 16%);
  --md-sys-color-on-info-hover: rgb(var(--md-sys-color-on-info) / 8%);
  --md-sys-color-on-info-active: rgb(var(--md-sys-color-on-info) / 10%);
  --md-sys-color-on-info-drag: rgb(var(--md-sys-color-on-info) / 16%);
  --md-sys-color-on-info-container-hover: rgb(var(--md-sys-color-on-info-container) / 8%);
  --md-sys-color-on-info-container-active: rgb(var(--md-sys-color-on-info-container) / 10%);
  --md-sys-color-on-info-container-drag: rgb(var(--md-sys-color-on-info-container) / 16%);
  --md-sys-color-success-hover: rgb(var(--md-sys-color-success) / 8%);
  --md-sys-color-success-active: rgb(var(--md-sys-color-success) / 10%);
  --md-sys-color-success-drag: rgb(var(--md-sys-color-success) / 16%);
  --md-sys-color-success-container-hover: rgb(var(--md-sys-color-success-container) / 8%);
  --md-sys-color-success-container-active: rgb(var(--md-sys-color-success-container) / 10%);
  --md-sys-color-success-container-drag: rgb(var(--md-sys-color-success-container) / 16%);
  --md-sys-color-on-success-hover: rgb(var(--md-sys-color-on-success) / 8%);
  --md-sys-color-on-success-active: rgb(var(--md-sys-color-on-success) / 10%);
  --md-sys-color-on-success-drag: rgb(var(--md-sys-color-on-success) / 16%);
  --md-sys-color-on-success-container-hover: rgb(var(--md-sys-color-on-success-container) / 8%);
  --md-sys-color-on-success-container-active: rgb(var(--md-sys-color-on-success-container) / 10%);
  --md-sys-color-on-success-container-drag: rgb(var(--md-sys-color-on-success-container) / 16%);
  --md-sys-color-error-hover: rgb(var(--md-sys-color-error) / 8%);
  --md-sys-color-error-active: rgb(var(--md-sys-color-error) / 10%);
  --md-sys-color-error-drag: rgb(var(--md-sys-color-error) / 16%);
  --md-sys-color-error-container-hover: rgb(var(--md-sys-color-error-container) / 8%);
  --md-sys-color-error-container-active: rgb(var(--md-sys-color-error-container) / 10%);
  --md-sys-color-error-container-drag: rgb(var(--md-sys-color-error-container) / 16%);
  --md-sys-color-on-error-hover: rgb(var(--md-sys-color-on-error) / 8%);
  --md-sys-color-on-error-active: rgb(var(--md-sys-color-on-error) / 10%);
  --md-sys-color-on-error-drag: rgb(var(--md-sys-color-on-error) / 16%);
  --md-sys-color-on-error-container-hover: rgb(var(--md-sys-color-on-error-container) / 8%);
  --md-sys-color-on-error-container-active: rgb(var(--md-sys-color-on-error-container) / 10%);
  --md-sys-color-on-error-container-drag: rgb(var(--md-sys-color-on-error-container) / 16%);
  --md-sys-color-background-hover: rgb(var(--md-sys-color-background) / 8%);
  --md-sys-color-background-active: rgb(var(--md-sys-color-background) / 10%);
  --md-sys-color-background-drag: rgb(var(--md-sys-color-background) / 16%);
  --md-sys-color-on-background-hover: rgb(var(--md-sys-color-on-background) / 8%);
  --md-sys-color-on-background-active: rgb(var(--md-sys-color-on-background) / 10%);
  --md-sys-color-on-background-drag: rgb(var(--md-sys-color-on-background) / 16%);
  --md-sys-color-surface-hover: rgb(var(--md-sys-color-surface) / 8%);
  --md-sys-color-surface-active: rgb(var(--md-sys-color-surface) / 10%);
  --md-sys-color-surface-drag: rgb(var(--md-sys-color-surface) / 16%);
  --md-sys-color-surface-variant-hover: rgb(var(--md-sys-color-surface-variant) / 8%);
  --md-sys-color-surface-variant-active: rgb(var(--md-sys-color-surface-variant) / 10%);
  --md-sys-color-surface-variant-drag: rgb(var(--md-sys-color-surface-variant) / 16%);
  --md-sys-color-on-surface-hover: rgb(var(--md-sys-color-on-surface) / 8%);
  --md-sys-color-on-surface-active: rgb(var(--md-sys-color-on-surface) / 10%);
  --md-sys-color-on-surface-drag: rgb(var(--md-sys-color-on-surface) / 16%);
  --md-sys-color-on-surface-variant-hover: rgb(var(--md-sys-color-on-surface-variant) / 8%);
  --md-sys-color-on-surface-variant-active: rgb(var(--md-sys-color-on-surface-variant) / 10%);
  --md-sys-color-on-surface-variant-drag: rgb(var(--md-sys-color-on-surface-variant) / 16%);
  --md-sys-color-outline-hover: rgb(var(--md-sys-color-outline) / 8%);
  --md-sys-color-outline-active: rgb(var(--md-sys-color-outline) / 10%);
  --md-sys-color-outline-drag: rgb(var(--md-sys-color-outline) / 16%);
  --md-sys-color-outline-variant-hover: rgb(var(--md-sys-color-outline-variant) / 8%);
  --md-sys-color-outline-variant-active: rgb(var(--md-sys-color-outline-variant) / 10%);
  --md-sys-color-outline-variant-drag: rgb(var(--md-sys-color-outline-variant) / 16%);
  --md-sys-color-inverse-surface-hover: rgb(var(--md-sys-color-inverse-surface) / 8%);
  --md-sys-color-inverse-surface-active: rgb(var(--md-sys-color-inverse-surface) / 10%);
  --md-sys-color-inverse-surface-drag: rgb(var(--md-sys-color-inverse-surface) / 16%);
  --md-sys-color-inverse-on-surface-hover: rgb(var(--md-sys-color-inverse-on-surface) / 8%);
  --md-sys-color-inverse-on-surface-active: rgb(var(--md-sys-color-inverse-on-surface) / 10%);
  --md-sys-color-inverse-on-surface-drag: rgb(var(--md-sys-color-inverse-on-surface) / 16%);
  --md-sys-color-inverse-primary-hover: rgb(var(--md-sys-color-inverse-primary) / 8%);
  --md-sys-color-inverse-primary-active: rgb(var(--md-sys-color-inverse-primary) / 10%);
  --md-sys-color-inverse-primary-drag: rgb(var(--md-sys-color-inverse-primary) / 16%);
  --md-sys-color-surface-container-lowest-hover: rgb(var(--md-sys-color-surface-container-lowest) / 8%);
  --md-sys-color-surface-container-lowest-active: rgb(var(--md-sys-color-surface-container-lowest) / 10%);
  --md-sys-color-surface-container-lowest-drag: rgb(var(--md-sys-color-surface-container-lowest) / 16%);
  --md-sys-color-surface-container-low-hover: rgb(var(--md-sys-color-surface-container-low) / 8%);
  --md-sys-color-surface-container-low-active: rgb(var(--md-sys-color-surface-container-low) / 10%);
  --md-sys-color-surface-container-low-drag: rgb(var(--md-sys-color-surface-container-low) / 16%);
  --md-sys-color-surface-container-hover: rgb(var(--md-sys-color-surface-container) / 8%);
  --md-sys-color-surface-container-active: rgb(var(--md-sys-color-surface-container) / 10%);
  --md-sys-color-surface-container-drag: rgb(var(--md-sys-color-surface-container) / 16%);
  --md-sys-color-surface-container-high-hover: rgb(var(--md-sys-color-surface-container-high) / 8%);
  --md-sys-color-surface-container-high-active: rgb(var(--md-sys-color-surface-container-high) / 10%);
  --md-sys-color-surface-container-high-drag: rgb(var(--md-sys-color-surface-container-high) / 16%);
  --md-sys-color-surface-container-highest-hover: rgb(var(--md-sys-color-surface-container-highest) / 8%);
  --md-sys-color-surface-container-highest-active: rgb(var(--md-sys-color-surface-container-highest) / 10%);
  --md-sys-color-surface-container-highest-drag: rgb(var(--md-sys-color-surface-container-highest) / 16%);
}
